<div class="media-icons">
	<div class="fb"> 
		<a href="https://www.facebook.com/UptownVocal">
		<img src="/assets/img/social-media/facebook.png">
		</a>
	</div>

	<div class="tweets">
		<a href="https://twitter.com/UptownVocal">
		<img src="/assets/img/social-media/twitter.png">
		</a>
	</div>

	<div class="insta">
		<a href="https://www.instagram.com/uptownvocal/">
		<img src="/assets/img/social-media/instagram.png">
		</a>
	</div>

	<div class="tube">
		<a href="https://www.youtube.com/user/UptownVocal">
		<img src="/assets/img/social-media/youtube.png">
		</a>
	</div>
</div>