body {
  /*background-color: black;*/
  background-color: black;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 300;

}

h1 {
  font-family: 'Merriweather';
  font-weight: 300;
  color: white;
  text-align: center;
}

.sans {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: bold;
  line-height: 1;
}

.serif {
  font-family: 'Bitter', sans-serif;
  font-weight: 300;
}

.floating-text {
  color: rgb(255,255,255);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.64);
}

.box-shadow {
  -webkit-box-shadow: 1px 1px 2px 0 rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    1px 1px 2px 0 rgba(50, 50, 50, 0.75);
  box-shadow:         1px 1px 2px 0 rgba(50, 50, 50, 0.75);
}

/* ============ SIDEBAR ============ */

.sidebar img{
    position: absolute;
    padding-left: 30px;
    height: 100vh;
}
.pages {
    font-family: 'Helvetica Neue';
    position: absolute;
    background-color: none;
    border-color: none;
    color: black;
    padding-left: 75px;
    padding-top: 130px;
    margin: 0;
    z-index: 1;
}

.pages a{

      color: white;
      font-weight: bold;
}

.pages a:hover {

      color: #6bc3ee;
      font-weight: bold;
}

/* ============ FOOTER ============ */

.media-icons{
	position: absolute;
  	margin-top: 170px;
  	margin-left: 10px;
  	z-index: 1;

}

.fb{

	width: 20px;
	margin: 7px;

}

.tweets{

	width: 20px;
	margin: 7px;

}

.insta{

	width: 20px;
	margin: 7px;

}

.tube{

	width: 24px;
	margin: 5px;
}



/* ============ HOME ============ */

body.home {
  background: url(/assets/img/about.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-size: cover;
}

.logo img{
      float: right;
      padding-left: 50px;
      padding-top: 5px;
      margin-left: 30%;
      margin-top: 20%;
      position: absolute;
      max-width: 400px;
      min-width: 200px;
      width: 43%;
      height: auto;
}

.description {

	position: absolute;
	font-family: 'Merriweather';
	color: white;
	padding-left: 80px;
	padding-top: 25px;
  padding-right: 100px;
	margin-top: 42%;
	margin-left: 15%;

}

.description p{

	font-size: 25px;
	text-align: center;
}

/* ============ POSTS ============ */

.event-title {
  font-family: 'Droid Sans', Helvetica, sans-serif;
  text-align: center;
  font-size: 1.4rem;
  letter-spacing: 0.01rem;
  margin-top: 4px;
  margin-bottom: 0px;
}

.event-date {
  text-align: center;
  font-family: 'Droid Sans', Helvetica, sans-serif;
  letter-spacing: 0.02rem;
  font-size: .8rem;
  margin-top: 0px;
  margin-bottom: 4px;
}

.event-bar {
  margin: .6rem 0;
}

.post {
  background-color: rgb(150,150,150);
  background-color: rgba(0,0,0,.15);
  padding: 0 0 4px 0;
  margin-bottom: 12px;
}

.post-header {
  background-color: rgb(60,150,240); 
  color: white;
  padding-left: 14px;
  margin-bottom: 0;
}

.post-body {
  padding-left: 14px;
  padding-right: 14px;
}

.post-date {
  font-size: 1.2rem;
}

/* ============ SOCIAL MEDIA BAR ============ */

.social-media {
  margin-left: auto;
  margin-right: auto;
  width: 400px; /* dependent on size and number of elements*/
  margin-bottom: 4px;
  position: relative;
  top: -6px;
}

.icon {
  background-size: 40px 40px;
  background-repeat: no-repeat;
}

.icon:hover {
  background-size: 36px 36px;
  background-repeat: no-repeat;
  position: relative;
  top: 2px;
  left: 2px;
}

.icon a {
  height: 40px;
  width: 40px;
}

.facebook {
  background-image: url(/assets/img/social-media/facebook.png) ;
  margin-left: 0;
}

.youtube {
 background-image: url(/assets/img/social-media/youtube.png) ;
}

.twitter {
 background-image: url(/assets/img/social-media/twitter.png) ;
}

.instagram {
 background-image: url(/assets/img/social-media/instagram.png) ;
}

.paypal {
 background-image: url(/assets/img/social-media/donate.png) ;
 width: 120px;
 background-size: contain;
}

.paypal:hover {
  background-size: 90% 90%;
  background-repeat: no-repeat;
  position: relative;
}

.paypal a {
  width: 120px;
}

.grad {
  margin-top: 2px;

  background: #3c96f0;
  background-image: -webkit-linear-gradient(top, rgb(60,150,240), rgb(40,120,200));
  background-image:    -moz-linear-gradient(top, rgb(60,150,240), rgb(40,120,200));
  background-image:     -ms-linear-gradient(top, rgb(60,150,240), rgb(40,120,200));
  background-image:      -o-linear-gradient(top, rgb(60,150,240), rgb(40,120,200));
  background-image:   linear-gradient(to bottom, rgb(60,150,240), rgb(40,120,200));

  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;

  color: #ffffff;
  font-size: 1.2rem;
  padding: 10px 20px 10px 20px;
}

.grad:hover {
  background: #4a9df0;
  background-image: -webkit-linear-gradient(top, rgb(74,157,240), rgb(21,133,237));
  background-image:    -moz-linear-gradient(top, rgb(74,157,240), rgb(21,133,237));
  background-image:     -ms-linear-gradient(top, rgb(74,157,240), rgb(21,133,237));
  background-image:      -o-linear-gradient(top, rgb(74,157,240), rgb(21,133,237));
  background-image:   linear-gradient(to bottom, rgb(74,157,240), rgb(21,133,237));
}

/* ============ MUSIC.html ============ */

.music {

	position: absolute;
	width: 90%;
	padding-left: 350px;
	padding-top: 120px;
	margin-left: 5%;

}

/*iframe{ 

	max-width:560px;
	max-height: 315px;

}*/

/*.flex-video{

  padding-bottom: 40%;
  margin-left: 14%;
}*/

/* ============ MEMBERS.html ============ */

.side-bar-long img{
    position: absolute;
    padding-left: 30px;
    width: 171.8px;
    z-index: -2;
}

.uv-logo img{
	position: absolute;
	width: 200px;
	margin-left: 70px;
	z-index: 1;
}

.members-grid {
	position: absolute;
	padding-left: 110px;
	padding-top: 200px;
	margin-left: 5%;
}

.members-grid img {
  border: solid black 4px;
  border: solid black 4px;
  transition: border .1s ease-in-out;

  -webkit-transition: border .1s ease-in-out;
  -moz-transition:    border .1s ease-in-out;
  -o-transition:      border .1s ease-in-out;
}

.members-grid img:hover{
  border: solid #6bc3ee 4px;
}

.members-grid h4 {
  font-size: 1.1rem;
  text-align: center;
}

.floating-text {

	padding-top: 0;
	font-family: 'Merriweather';
  font-weight: 400;
  font-size: 30px;
	margin-left: 0;
  line-height: 40px;
}

h4{

	color: white;
	font-family: 'Merriweather';
}

/* ============ CONTACT.html ============ */

.banner img{

	position: absolute;
	width: 85%;
	max-width: 2000px;
	padding-left: 150px;
	padding-top: 190px;
	margin-left: 5%;

}

.contact-text {

	position: absolute;
	width: 90%;
	padding-left: 160px;
	padding-top: 120px;
	margin-left: 5%;
}

.contact-text p{

	font-family: "Merriweather";
	color: white;
	font-size: 14px;
  margin-bottom: 10px;

}

.contact-text img{

	width: 100%;
	display: block;
	margin: auto;	
  padding-bottom: 20px;
}

/* ============ ABOUT.html ============ */

.text {

	position: absolute;
	width: 90%;
	padding-left: 160px;
	padding-top: 120px;
	margin-left: 5%;
  margin-bottom: 1rem;
}

.text p{

	font-family: "Merriweather";
	color: white;
	font-size: 14px;

}

.text img{

	width: 70%;
	display: block;
	margin: auto;	
}

.p1 {

  margin-bottom: 150px;
}

/* --- Modals --- */

.modalDialog {
  position: fixed;

  top:    0;
  right:  0;
  bottom: 0;
  left:   0;

  background: rgb(0,0,0);
  background: rgba(0,0,0,0.7);

  z-index: 99999;
  opacity:0;

  -webkit-transition: opacity 400ms ease-in;
  -moz-transition:    opacity 400ms ease-in;
  -o-transition:      opacity 400ms ease-in;

  transition:         opacity 400ms ease-in;

  pointer-events: none;
}

.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

.modalDialog > div {
  z-index: 0;
  position: relative;
  width: 600px;
  margin: 10% auto;
  padding: 5px 20px 10px 20px;
  border-radius: 10px;
  border-width: 3px;
  border-color: white;
  background: white;
  overflow: hidden;
}

 .modalDialog h3{

	margin: 0;
	font-family: 'Helvetica Neue';
	font-weight: bold;
	color: black;
	font-size: 30px;

}


.modalDialog img{

	width: 40%;
	float:left;
	margin-right: 10px;


}

.modalDialog p{
	margin: 0;
	color: black;
}

.close {
  z-index: -1;

  background: #6bc3ee;
  color: white;

  width: 24px;
  position: absolute;
  top: 6px;
  right: 7px;

  text-decoration: none;
  text-align: center;
  line-height: 25px;
  font-weight: bold;

  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;

}

.close:hover {
  color: black;
  background: #6bc3ee;
}

/* ============ RESPONSIVENESS ============ */

.contact-banner img {
  border: solid white 6px;
}

/* ============ RESPONSIVENESS ============ */

@media only screen and (min-width: 640px) {
}

@media only screen and (max-width: 1024px) {
  .right-column { margin-top: 16px; }
  .left-column { padding-right: 15px; }

  .events h1 { font-size: 2rem; text-align: center; }
  .events h2 { font-size: 1rem; text-align: center; }
  .events h3 { font-size: 1.4rem; }
  .events h4 { font-size: 1rem; margin-bottom: .3rem; }
  .events li { font-size: 1rem; line-height: 1.2rem; }
  .events ul { margin-bottom: .8rem; }
  .events p  { font-size: 1rem; margin-bottom: .8rem; }

  .photos {
    padding-left: 32px;
    padding-right: 32px;
  }
}


@media only screen and (max-width: 640px) {
  .current-tab, .navbutton {
    padding-left: .6rem;
    padding-right: .6rem;
    font-size: .9rem;
    letter-spacing: 1px;
  }

  .no-border-video {
    padding-bottom: 49%;
  }
 

  .discography iframe {
    border: none;
    width: 150px;
    height: 150px;
    margin-top: 300px;
  }

  .discography h4 {
    font-size: .8rem;
  }

  .members-grid img {
    border: solid black 3px;
  }

  .members-grid h4 {
    position: static;
    font-size: .7rem;
  }

  .modalDialog > div {
    width: 90%;
  }
}

@media only screen and (max-width: 500px) {
  .current-tab, .navbutton {
    font-size: .7rem;
  }

  .members-grid img {
    border: solid black 2px;
  }

  .blurb {
    padding: 10px 10px;
  }
}
